In [1]:
import numpy as np
import pandas as pd
from numpy import nan
import pickle
pd.set_option('display.max_rows', 200)

## Data Cleaning

### 1. load data

In [3]:
comprehensive = pd.read_stata('../Data/data/Comprehensive-Sample.dta')

In [4]:
comprehensive.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17920 entries, 0 to 17919
Data columns (total 80 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   year                        17920 non-null  float32
 1   numcode                     17920 non-null  int16
 2   oilreserves_full            14307 non-null  float32
 3   oilreserves                 12519 non-null  float32
 4   oilreserves_public          9950 non-null   float32
 5   newdiscovery_aspo           12354 non-null  float32
 6   aspo                        4736 non-null   float32
 7   wildcat                     12354 non-null  float32
 8   endowment                   14160 non-null  float32
 9   pop_maddison                10441 non-null  float64
 10  ecgrowth                    9341 non-null   float32
 11  efrac                       390 non-null    float32
 12  lfrac                       390 non-null    float32
 13  rfrac                       390 non-null    float32
 14  incidence2COW               15419 non-null  float64
 15  onset2COWCS                 14912 non-null  float32
 16  incidenceU                  12855 non-null  float32
 17  onsetUCS                    11848 non-null  float32
 18  Fearon_war                  13045 non-null  float64
 19  onset_FearonCS              11867 non-null  float32
 20  Sambanis_war                12791 non-null  float64
 21  onset_SambanisCS            11854 non-null  float32
 22  coup                        12855 non-null  float64
 23  any_coup                    8517 non-null   float32
 24  periregular                 5758 non-null   float32
 25  no_transition               5758 non-null   float32
 26  milexp_pergdpSIPRI          2194 non-null   float32
 27  mountain                    12524 non-null  float32
 28  religion_fractionalization  16720 non-null  float32
 29  ethnic_fractionalization    15120 non-null  float32
 30  language_fractionalization  15840 non-null  float32
 31  ETHPOL_reynal               10960 non-null  float32
 32  ETHFRAC_reynal              10960 non-null  float32
 33  RELPOL_reynal               10960 non-null  float32
 34  RELFRAC_reynal              10960 non-null  float32
 35  leg_british                 14800 non-null  float32
 36  rule_law96                  13600 non-null  float32
 37  land_area                   17920 non-null  float64
 38  crude1990P                  17696 non-null  float32
 39  smallregion                 17840 non-null  float64
 40  largeregion                 17840 non-null  float64
 41  code3                       17920 non-null  object
 42  out_regdisaster             17840 non-null  float32
 43  oilpop                      7372 non-null   float32
 44  zero_res                    7372 non-null   float32
 45  logoilres                   7372 non-null   float32
 46  oilpop_public               6985 non-null   float32
 47  logoilres_public            6985 non-null   float32
 48  logoilres_full              8809 non-null   float32
 49  valoilres                   7320 non-null   float32
 50  valoilres_public            6985 non-null   float32
 51  logvaloilres                7349 non-null   float32
 52  logvaloilres_public         6985 non-null   float32
 53  logvaloilres_full           8787 non-null   float32
 54  oilpop_impute               7672 non-null   float32
 55  logoilres_impute            7672 non-null   float32
 56  valoilres_impute            7620 non-null   float32
 57  logvaloilres_impute         7649 non-null   float32
 58  logvalprod                  7372 non-null   float32
 59  logvalprod_impute           7672 non-null   float32
 60  discoveryaspoPC             7320 non-null   float32
 61  zero_disc                   7320 non-null   float32
 62  logdiscoveryaspo            7320 non-null   float32
 63  logvaldisc                  7320 non-null   float32
 64  logGDP_M                    9488 non-null   float32
 65  logpop_M                    10441 non-null  float32
 66  logpopdens                  10441 non-null  float32
 67  democracy                   8933 non-null   float32
 68  x_dem                       8602 non-null   float32
 69  logmilexgdpSIPRI            2194 non-null   float32
 70  logmountain                 12524 non-null  float32
 71  logoutreg                   17840 non-null  float32
 72  dincidence2COW              14971 non-null  float32
 73  dmilexpSIPRI                1858 non-null   float32
 74  dincidenceU                 12407 non-null  float32
 75  dcoup                       12407 non-null  float32
 76  decade                      17696 non-null  float32
 77  wildcatsample               3078 non-null   float32
 78  lowincsample                8160 non-null   float32
 79  opec                        15458 non-null  float32
dtypes: float32(70), float64(8), int16(1), object(1)
memory usage: 6.2+ MB

In [5]:
aspo = pd.read_stata('../Data/data/ASPO-Sample.dta')

In [6]:
aspo.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5120 entries, 0 to 5119
Data columns (total 108 columns):
 #    Column                      Dtype
---   ------                      -----
 0    year                        float32
 1    numcode                     int16
 2    oilreserves_full            float32
 3    oilreserves                 float32
 4    oilreserves_public          float32
 5    newdiscovery_aspo           float32
 6    imputedzero                 float32
 7    aspo                        float32
 8    wildcat                     float32
 9    endowment                   float32
 10   ecgrowth                    float32
 11   country                     object
 12   incidence2COW               float64
 13   onset2COWCS                 float32
 14   incidenceU                  float32
 15   onsetUCS                    float32
 16   Fearon_war                  float64
 17   onset_FearonCS              float32
 18   Sambanis_war                float64
 19   onset_SambanisCS            float32
 20   coup                        float64
 21   any_coup                    float32
 22   periregular                 float32
 23   no_transition               float32
 24   religion_fractionalization  float32
 25   ethnic_fractionalization    float32
 26   language_fractionalization  float32
 27   ETHPOL_reynal               float32
 28   ETHFRAC_reynal              float32
 29   RELPOL_reynal               float32
 30   RELFRAC_reynal              float32
 31   leg_british                 float32
 32   rule_law96                  float32
 33   crude1990P                  float32
 34   smallregion                 int16
 35   largeregion                 int16
 36   out_regdisaster             float32
 37   asposmpl                    float32
 38   zero_res                    float32
 39   logoilres                   float32
 40   logvaloilres                float32
 41   discoveryaspoPC             float32
 42   zero_disc                   float32
 43   logdiscoveryaspo            float32
 44   valdisc                     float32
 45   logvaldisc                  float32
 46   oilpop_impute               float32
 47   logoilres_impute            float32
 48   logvaloilres_impute         float32
 49   logGDP_M                    float32
 50   logpop_M                    float32
 51   logpopdens                  float32
 52   democracy                   float32
 53   x_dem                       float32
 54   logmilexgdpSIPRI            float32
 55   logmountain                 float32
 56   logoutreg                   float32
 57   unexpdisc_log               float32
 58   decade                      float32
 59   wildcatsample               float32
 60   africa                      float32
 61   asia                        float32
 62   oceania                     float32
 63   southam                     float32
 64   dincidence2COW              float32
 65   d2incidence2COW             float32
 66   d3incidence2COW             float32
 67   d3_6incidence2COW           float32
 68   d7_10incidence2COW          float32
 69   d3yrsCOW                    float32
 70   d5yrsCOW                    float32
 71   dincidenceU                 float32
 72   d2incidenceU                float32
 73   d3incidenceU                float32
 74   d3_6incidenceU              float32
 75   d7_10incidenceU             float32
 76   d3yrsU                      float32
 77   d5yrsU                      float32
 78   dcoup                       float32
 79   d2coup                      float32
 80   d3coup                      float32
 81   d3_6coup                    float32
 82   d7_10coup                   float32
 83   d3yrsCOUP                   float32
 84   d5yrsCOUP                   float32
 85   dany_coup                   float32
 86   d3_6any_coup                float32
 87   dSambanis_war               float32
 88   d3_6Sambanis_war            float32
 89   dFearon_war                 float32
 90   d3_6Fearon_war              float32
 91   dmilexpSIPRI                float32
 92   d2milexpSIPRI               float32
 93   d3milexpSIPRI               float32
 94   d3_6milexpSIPRI             float32
 95   d7_10milexpSIPRI            float32
 96   d3yrsSIPRI                  float32
 97   d5yrsSIPRI                  float32
 98   Llogoilres                  float32
 99   Llogvaloilres               float32
 100  LlogGDP_M                   float32
 101  Lecgrowth                   float32
 102  Llogpop_M                   float32
 103  Llogpopdens                 float32
 104  Ldemocracy                  float32
 105  Lincidence2COW              float32
 106  LincidenceU                 float32
 107  Lcrude1990P                 float32
dtypes: float32(100), float64(4), int16(3), object(1)
memory usage: 2.2+ MB

### 2. function to do transformation

In [7]:
# Create a sample dataframe
df = pd.DataFrame({"country": np.random.choice(["A", "B", "C"], size=20),
                   "year": np.arange(20),
                   "num1": np.random.randint(22, 60, size=20),
                   "num2": np.random.randint(20000, 90000, size=20)})

In [8]:
df = df.sort_values(by=['country','year'], ascending=True)

In [9]:
def transform_df(df, groupby_cols, log_cols, normal_cols):
    
    new_df = df.copy()
    new_cols = []
    
    for col_name in new_df.columns:
        
        if col_name in log_cols:
            lag_name = col_name + '_lagged'
            new_df[lag_name] = new_df.groupby(groupby_cols)[col_name].shift(1)
            diff_name = col_name + '_diff'
            new_df[diff_name] = new_df[col_name] / new_df[lag_name]
            new_cols.append(diff_name)
            
        elif col_name in normal_cols:
            diff_name = col_name + '_diff'
            new_df[diff_name] = new_df.groupby(groupby_cols)[col_name].pct_change()
            new_cols.append(diff_name)
        
    return new_df[new_cols]

In [10]:
df

   country  year  num1   num2
3        A     3    26  80204
5        A     5    50  64853
13       A    13    31  36506
14       A    14    46  82655
15       A    15    45  88479
0        B     0    55  68985
1        B     1    26  44382
2        B     2    53  85038
7        B     7    40  65781
9        B     9    30  76961
11       B    11    55  66177
12       B    12    41  36243
16       B    16    53  28610
17       B    17    58  42430
19       B    19    49  33357
4        C     4    34  34455
6        C     6    46  84528
8        C     8    45  48724
10       C    10    40  32509
18       C    18    49  87826

In [11]:
transform_df(df, ['country'], ['num1'], ['num2'])

    num1_diff  num2_diff
3         NaN        NaN
5    1.923077  -0.191399
13   0.620000  -0.437096
14   1.483871   1.264148
15   0.978261   0.070462
0         NaN        NaN
1    0.472727  -0.356643
2    2.038462   0.916047
7    0.754717  -0.226452
9    0.750000   0.169958
11   1.833333  -0.140123
12   0.745455  -0.452332
16   1.292683  -0.210606
17   1.094340   0.483048
19   0.844828  -0.213835
4         NaN        NaN
6    1.352941   1.453287
8    0.978261  -0.423576
10   0.888889  -0.332793
18   1.225000   1.701590

--

In [31]:
#np.NaN - 5

In [30]:
#comprehensive['code3'].unique()

In [28]:
#comprehensive.query('code3 == "USA"')['logoutreg']
#comprehensive[['year','coup']].groupby('coup').count()

In [29]:
#comprehensive[['year','mountain']].groupby('mountain').count()

### 3. comprehensive - cleaning

In [12]:
v_lst = ['onset2COWCS',
         'onsetUCS',
         'coup',
         'periregular',
         'logmilexgdpSIPRI',
         'numcode',
         'year',
         
         'logGDP_M',
         'ecgrowth',
         'logpop_M',
         'logpopdens',
         'democracy',
         'logmountain',
         'ethnic_fractionalization',
         'religion_fractionalization',
         'language_fractionalization',
         'leg_british',
         'no_transition',
         'wildcat',
         
         'logvaloilres',
         'logvaloilres_public',
         'logoilres',
         'logvaloilres_impute',
         'logoilres_impute',
         'logoutreg']

In [13]:
# variables that need transformation
transform_lst = ['logmilexgdpSIPRI', # defense burden
                'logGDP_M', # there is another variable `ecgrowth`
                'logpop_M',
                'logpopdens',
                'democracy', # democracy index
                'wildcat', # wildcat drilling ?
                'logoutreg', # out of region disaster ?
                'logvaloilres',
                'logvaloilres_public',
                'logoilres',
                'logvaloilres_impute',
                'logoilres_impute'
                ]

In [14]:
log_lst = ['logmilexgdpSIPRI', 
           'logGDP_M', 
           'logpop_M', 
           'logpopdens', 
           'logoutreg', 
           'logvaloilres', 
           'logvaloilres_public', 
           'logoilres', 
           'logvaloilres_impute', 
           'logoilres_impute']

normal_lst = ['democracy', 'wildcat']

In [15]:
comprehensive = comprehensive.sort_values(by=['numcode','year'], ascending=True)

In [16]:
new_df = transform_df(comprehensive, ['numcode'], 
                     log_lst, 
                     normal_lst)

In [17]:
comprehensive_new = pd.concat([comprehensive, new_df], axis = 1)

In [11]:
comprehensive.to_pickle("../Data/data/comprehensive_new.pkl")

In [12]:
comprehensive_new

,year,numcode,oilreserves_full,oilreserves,oilreserves_public,newdiscovery_aspo,aspo,wildcat,endowment,pop_maddison,...,logvaloilres_diff,logvaloilres_public_diff,logoilres_impute_diff,logvaloilres_impute_diff,logGDP_M_diff,logpop_M_diff,logpopdens_diff,democracy_diff,logmilexgdpSIPRI_diff,logoutreg_diff
0,1929.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1930.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.253965
2,1931.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,1.000000
3,1932.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,1.000000
4,1933.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,3.934184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17915,2004.0,894,0.0,NaN,0.0,NaN,NaN,NaN,0.0,10962.026367,...,NaN,1.0,NaN,NaN,1.005738,1.001604,1.005559,0.000000,NaN,1.035035
17916,2005.0,894,0.0,NaN,0.0,NaN,NaN,NaN,0.0,11115.380859,...,NaN,1.0,NaN,NaN,1.005738,1.001494,1.005156,0.000000,NaN,1.055380
17917,2006.0,894,0.0,NaN,0.0,NaN,NaN,NaN,0.0,11288.252930,...,NaN,1.0,NaN,NaN,1.006773,1.001657,1.005698,0.000000,NaN,0.889851
17918,2007.0,894,0.0,NaN,0.0,NaN,NaN,NaN,0.0,11477.447266,...,NaN,1.0,NaN,NaN,1.006682,1.001781,1.006102,0.000000,NaN,1.035507
17919,2008.0,894,0.0,NaN,0.0,NaN,NaN,NaN,0.0,11669.534180,...,NaN,1.0,NaN,NaN,1.005935,1.001776,1.006056,0.133333,NaN,1.067103